@charset "windows-1256";
* {
  box-sizing: border-box;
}
header {
  padding-top: 5px;
  padding-left:350px;
  padding-Right:350px;
  text-align: center;
  color: white;
  font-size: 50px;
}
#Header{
	background: rgb(0, 0, 0,0.5); 
}

/*----------navigation bar code----------*/
nav {
  overflow: hidden;
  background-color: #e8d6d1;
  opacity: 0.93;
  align-items: center;
}
/* Style navigation links */
nav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-weight:bold;
}
/* Style of HOME link */
nav a.right {
	float: right;
	font-size: 40px;
	padding-top:35px;
	padding-bottom:30px
	}
/* Change color on hover ⁄‘«‰ «–« «‘—‰« ⁄·ÌÂ Ì €Ì— ·Ê‰Ê*/
nav a:hover {
  background-color: #ddd;
  color: black;
}

/*⁄‘«‰ Ì‰“· „⁄«Ì« «·‘—Ìÿ*/
.sticky {position: fixed;top: 0;width: 100%;}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .Left + .Right {padding-top: 60px;}


/*----------body----------*/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url('P1.png');
  direction: rtl;
  color: white;
  
}
/*----------Content code----------*/
p{
	align: right;
}
.ayah{color:#00c600;}
h2{
	font-size: 30px;
	font-weight: bold;
}
h1{color:rgb(235, 183, 179);}

/*right column (Article)*/
.Right{
  float: right;
  width: 70%;
  background: rgb(118, 113, 113,0.93);
  padding: 50px 20px 40px 30px;
  font-size: 35px;
	
}
/*left column (Aside)*/
.Left{
float: right;
  width: 30%;
  background: rgb(167, 165, 164,0.9);
  padding: 20px;
}


.Content{
	padding:20px;
}
@media screen and (max-width: 800px) {
  .Left, .Right {   
    width: 100%;
    padding: 0;
  }}

/*----------Footer----------*/
footer{
  clear: both;
  width:100%;
  height:100px;
  padding: 20px;
  text-align: center;
  background: #5b5757;
  opacity: 0.9;
    margin-top: 20px;
}

footer a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
  font-weight:bold;
  font-size: 30px;
  border-right:10px;
}
footer a:hover {
  background-color: #a5a5a5;
  color: black;
}
}